@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

/*
.container {
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: 30px 0 30px 0;
}
*/

.title {
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.8em;
}

.reload {
  font-size: 1.5em;
  position: fixed;
  right: 0;
}

.questionBox {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  background-color: rgb(250, 250, 250);
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.answerBtn {
  padding: 10px;
  background-color: black;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  height: 700px;
}

.score {
  text-align: center;
}

.playBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  margin: auto;
  cursor: pointer;
}

.answer-board{
  margin: 5px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
}

.answer-title{
  text-align: center;
}

.message{
  text-align: center;
  color: #28A745;
}

.danger-message{
  text-align: center;
  color: #DC3545;
}

.value{
  color: #007BFF;
}